@media only screen and (max-width: 450px){
	fieldset{
		width: 86% ;
}
}
@media only screen and (min-width: 451px){
	fieldset{
		width: 90% ;
}
}
body {
    background-color: lightgoldenrodyellow ;
}
div{
	background-color: white;
	width:95%;
	border-radius: 15px;
	margin-left: 2%
}
.center{
	text-align: center;
}
fieldset{
	margin-bottom: 1%;
	margin-left:3.5%;
}
#submit{
	background-color:red;
	height:28px;
	color: white;
	border:none;
	font-size:15px; 
	margin-bottom: 20px;
}
.fade{
	animation-name:fade;
	animation-duration:2s;
}
@keyframes fade{
	from{opacity:0.1}
	to{opacity: 1}
}